@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300');

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font: 13px 'Source Sans Pro';
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.Projector {
  height: 100%;
  position: relative;
  width: 100%;
}
