.settings {
  position: absolute;
  bottom: 0;
  min-width: 125px;
  max-height: calc(100% - 40px);
  overflow-y: auto; 
  margin: 20px;
  padding: 10px;
  background: #ffffff55;
  z-index: 5;
  touch-action: none;
}

.settings section:first-child {
  margin: 0;
}

.list {
  font-size: 0.7em;
}
